body {
    font-family: Arial;
    background: #eef2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

select, input, button {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}
